<div ng-include="'views/partials/sidecarNav.html'"></div>

<!--主体-->
<div id="siteWrapper" class="clearfix">
    <div ng-include="'views/partials/header.html'"></div>

    <!-- 轮播 -->
    <div class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <a href="#"><img src="/assets/images/banner1.png" alt="..."></a>
                <div class="index-banner-text">老男孩系列—老男孩NO.2</div>
            </div>
            <div class="item">
              <a href="#"><img src="/assets/images/banner2.jpg" alt="..."></a>
              <div class="index-banner-text">小女孩孩系列—老男孩NO.2</div>
            </div>
        </div>
    </div>
    <!-- end 轮播 -->

    <div ng-include="'views/partials/footer.html'"></div>
</div>
<!--end 主体-->
<div ng-include="'views/partials/modal.html'"></div>
<!--弹框-->
