<div ng-include="'views/partials/sidecarNav.html'"></div>

<!--主体-->
<div id="siteWrapper" class="clearfix">
    <div ng-include="'views/partials/header.html'"></div>

    <!-- 展览列表 -->
    <div id="content" class="main-content medias-wrap" data-content-field="main-content" data-edit-main-image="Banner" ng-controller="pressController">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">

                    <div class="clearfix">
                        <!--each media-->
                        <div class="each-media" ng-repeat="item in press">
                            <div class="image-block sqs-block-image">
                                <a href="/press/{{item.nid}}" target="_blank"><img src="{{item.field_press_image}}" alt="{{item.title}}" class="op-hover" /></a>
                            </div>
                            <div class="title">
                                <a href="/press/{{item.nid}}" target="_blank" title="{{item.title}}">{{item.title}}</a>
                            </div>
                            <div class="desc">
                                <span class="time">{{item.created}}</span>专访
                            </div>
                        </div>
                        <!--end each media-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end 展览列表 -->

    <div ng-include="'views/partials/footer.html'"></div>
</div>
<!--end 主体-->

<!--弹框-->
<div ng-include="'views/partials/modal.html'"></div>
<!--end 弹框-->