<div id="preFooter" class="">
    <div class="pre-footer-inner">
        <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Pre-Footer Content"
             data-type="block-field" id="preFooterBlocks">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule">
                        <div class="sqs-block-content">
                            <hr>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block search-block sqs-block-search">
                                <div class="sqs-block-content">
                                    <div class="sqs-search-ui-text-input sqs-search-ui-button-wrapper color-dark"
                                         data-source="block" data-preview="true" data-collection="">
                                        <div class="spinner-wrapper" hidden="hidden" style="display: none;"></div>
                                        <input type="search" class="search-input hover-effect" value=""
                                               placeholder="Search">

                                        <div class="yui3-widget sqs-widget sqs-search-preview">
                                            <div class="sqs-search-preview-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2">
                                <div class="sqs-block-content">
                                    <nav class="sqs-svg-icon--list social-icon-alignment-center social-icons-color-black social-icons-size-small social-icons-shape-circle social-icons-style-knockout">
                                        <a href="http://www.facebook.com/maihudson" target="_blank"
                                           class="sqs-svg-icon--wrapper facebook" style="">
                                            <img src="/assets/images/weibologo.png" alt="微博"/>
                                        </a>
                                        <a href="https://twitter.com/hudsonmai" target="_blank"
                                           class="sqs-svg-icon--wrapper twitter" style="">
                                            <img src="/assets/images/baidulogo.png" alt="百度"/>
                                        </a>
                                        <a href="http://instagram.com/hudsonmai" target="_blank"
                                           class="sqs-svg-icon--wrapper instagram" style="">
                                            <img src="/assets/images/wechatlogo.png" alt="微信"/>
                                        </a>
                                        <a href="http://maihudson.tumblr.com" target="_blank"
                                           class="sqs-svg-icon--wrapper tumblr" style="">
                                            <img src="/assets/images/qqlogo.png" alt="qq"/>
                                        </a>
                                    </nav>
                                </div>
                                <div class="tc"><a href="javascript:void(0);" class="site-contact-us">联系我们</a></div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code">
                                <div class="sqs-block-content">
                                    <div align="right">
                                        <small>
                                            <a href="./about.html" target="_blank">关于</a> | <a
                                                href="./works-two-cols.html" target="_blank">作品</a> | <a
                                                href="./show.html" target="_blank">展览</a> | <a href="./blog.html"
                                                                                               target="_blank">博客</a>
                                            | <a href="./media-index.html" target="_blank">媒体</a> | <a
                                                href="./art-edu-list.html" target="_blank">艺术教育</a> | <a
                                                href="./contact-us.html" target="_blank">联系我们</a>
                                        </small>
                                    </div>
                                    <small><br>
                                    </small>
                                    <div align="right">
                                        <small>
                                            <font color="black" class="copyright">&copy;2016 Fanya Ping
                                                Institute</font>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>