<header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom"
        role="banner">
    <div class="header-inner">

        <div id="logoWrapper" class="wrapper" data-content-field="site-title">
            <h1 id="logoImage"><a href="/"><img src="/assets/images/logo.jpg" alt="Fanya Ping Institute"></a>
            </h1>
        </div>
        <!-- comment the linebreak between these two elements because science
          -->
        <label for="mobileNavToggle" class="mobile-nav-toggle-label">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label>
        <label for="mobileNavToggle" class="mobile-nav-toggle-label fixed-nav-toggle-label">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label>
        <!-- comment the linebreak between these two elements because science
          -->
        <div id="headerNav">
            <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
                <nav id="mainNavigation" data-content-field="navigation-mainNav">
                    <div class="folder active">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label" onclick=""
                               data-href="/aboutall/"><a href="/about" target="_blank">关于</a></label>

                    </div>
                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label" onclick=""
                               data-href="/aboutall/"><a href="/works" target="_blank">作品</a></label>

                        <div class="subnav">
                            <dl>
                                <dt class="collection"><a href="./works-two-cols.html" target="_blank">油画作品</a></dt>
                            </dl>
                            <dl>
                                <dt class="collection"><a href="./works-two-cols.html" target="_blank">装置作品</a></dt>
                            </dl>
                            <dl>
                                <dt class="collection"><a href="./works-two-cols.html" target="_blank">水墨作品</a></dt>
                            </dl>

                        </div>
                    </div>
                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label" onclick=""
                               data-href="/aboutall/"><a href="/show" target="_blank">展览</a></label>
                    </div>
                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label" onclick=""
                               data-href="/aboutall/"><a href="/blog" target="_blank">博客</a></label>

                    </div>
                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label" onclick=""
                               data-href="/aboutall/"><a href="/press" target="_blank">媒体</a></label>

                    </div>
                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label" onclick=""
                               data-href="/aboutall/"><a href="/" target="_blank">艺术教育</a></label>

                    </div>
                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label" onclick=""
                               data-href="/aboutall/"><a href="/contact" target="_blank">联系我们</a></label>
                    </div>
                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-53953076e4b0d7fc447078fc"
                               id="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-box hidden">
                        <label for="folder-toggle-53953076e4b0d7fc447078fc" class="folder-toggle-label f13"
                               onclick="" data-href="/aboutall/"><a href="#" class="selected">中文</a> | <a href="#">EN</a></label>
                    </div>
                </nav>
            </div>
            <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
            <style>
                .mobile-nav-toggle-label {
                    display: inline-block !important;
                }
            </style>
        </div>
    </div>
</header>