<div id="sidecarNav">
    <div id="mobileNavWrapper" class="nav-wrapper" data-content-field="navigation-mobileNav">
        <nav id="mobileNavigation">
            <div class="folder active">
                <input type="checkbox" name="mobile-folder-toggle-53953076e4b0d7fc447078fc1" id="mobile-folder-toggle-53953076e4b0d7fc447078fc1" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-53953076e4b0d7fc447078fc1" class="folder-toggle-label" onclick="" data-href="#"><a href="./about.html" target="_blank">关于</a></label>
                <div class="subnav">
                    <div class="collection">
                        <a href="#">
                            MAI
                        </a>
                    </div>
                    <div class="collection">
                        <a href="#">
                            MAI
                        </a>
                    </div>
                </div>
            </div>
            <div class="folder"><!--选中加active类-->
                <input type="checkbox" name="mobile-folder-toggle-5575aff7e4b082d12f653ec2" id="mobile-folder-toggle-5575aff7e4b082d12f653ec2" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-5575aff7e4b082d12f653ec2" class="folder-toggle-label" onclick="" data-href="/projects/"><a href="./works.html" target="_blank">作品</a></label>
                <div class="subnav">
                    <dl>
                        <dt class="collection"><a href="./works-two-cols.html" target="_blank">油画作品</a></dt>
                    </dl>
                    <dl>
                        <dt class="collection"><a href="./works-two-cols.html" target="_blank">装置作品</a></dt>
                    </dl>
                    <dl>
                        <dt class="collection"><a href="./works-two-cols.html" target="_blank">水墨作品</a></dt>
                    </dl>
                </div>
            </div>
            <div class="folder">
                <input type="checkbox" name="mobile-folder-toggle-5543bf97e4b01a9d5acdd963" id="mobile-folder-toggle-5543bf97e4b01a9d5acdd963" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-5543bf97e4b01a9d5acdd963" class="folder-toggle-label" onclick="" data-href="/support-1/"><a href="./show.html" target="_blank">展览</a></label>
                <div class="subnav">
                    <div class="collection">
                        <a href="/support/">
                            Donate
                        </a>
                    </div>
                    <div class="collection">
                        <a href="/editions/">
                            Editions
                        </a>
                    </div>
                </div>
            </div>
            <div class="folder">
                <input type="checkbox" name="mobile-folder-toggle-5543bf97e4b01a9d5acdd964" id="mobile-folder-toggle-5543bf97e4b01a9d5acdd964" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-5543bf97e4b01a9d5acdd964" class="folder-toggle-label" onclick="" data-href="/support-1/"><a href="./blog.html" target="_blank">博客</a></label>
                <div class="subnav">
                    <div class="collection">
                        <a href="/support/">
                            Donate
                        </a>
                    </div>
                    <div class="collection">
                        <a href="/editions/">
                            Editions
                        </a>
                    </div>
                </div>
            </div>
            <div class="folder">
                <input type="checkbox" name="mobile-folder-toggle-5543bf97e4b01a9d5acdd965" id="mobile-folder-toggle-5543bf97e4b01a9d5acdd965" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-5543bf97e4b01a9d5acdd965" class="folder-toggle-label" onclick="" data-href="/support-1/"><a href="./media-index.html" target="_blank">媒体</a></label>
                <div class="subnav">
                    <div class="collection">
                        <a href="/support/">
                            Donate
                        </a>
                    </div>
                    <div class="collection">
                        <a href="/editions/">
                            Editions
                        </a>
                    </div>
                </div>
            </div>
            <div class="folder">
                <input type="checkbox" name="mobile-folder-toggle-5543bf97e4b01a9d5acdd966" id="mobile-folder-toggle-5543bf97e4b01a9d5acdd966" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-5543bf97e4b01a9d5acdd966" class="folder-toggle-label" onclick="" data-href="/support-1/"><a href="./art-edu-list.html" target="_blank">艺术教育</a></label>
                <div class="subnav">
                    <div class="collection">
                        <a href="/support/">
                            Donate
                        </a>
                    </div>
                    <div class="collection">
                        <a href="/editions/">
                            Editions
                        </a>
                    </div>
                </div>
            </div>
            <div class="folder">
                <input type="checkbox" name="mobile-folder-toggle-5543bf97e4b01a9d5acdd967" id="mobile-folder-toggle-5543bf97e4b01a9d5acdd967" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-5543bf97e4b01a9d5acdd967" class="folder-toggle-label" onclick="" data-href="/support-1/"><a href="./contact-us.html" target="_blank">联系我们</a></label>
                <div class="subnav">
                    <div class="collection">
                        <a href="/support/">
                            Donate
                        </a>
                    </div>
                    <div class="collection">
                        <a href="/editions/">
                            Editions
                        </a>
                    </div>
                </div>
            </div>
            <div class="folder last-floder">
                <input type="checkbox" name="mobile-folder-toggle-5543bf97e4b01a9d5acdd968" id="mobile-folder-toggle-5543bf97e4b01a9d5acdd968" class="folder-toggle-box hidden">
                <label for="mobile-folder-toggle-5543bf97e4b01a9d5acdd968" class="folder-toggle-label" onclick="" data-href="/support-1/">
                    <a href="#" class="selected">中文</a> | <a href="#">EN</a>
                </label>
            </div>
        </nav>
    </div>
</div>